.mobile_menu_container {
    position: absolute;
    top: 75px;
    right: 0;
    width: 230px;
    height:  764px;
    background: #FFF;
    padding: 37px 0 0 34px;
    box-sizing: border-box;
    display: none;
}

.mobile_menu_close_btn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background-color:transparent;
  fill:#6F6E6E;
}

.mobile_menu_close_btn:hover {
  fill: #F16D7F;
}

.mobile_menu_title{
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
}


.mobile_menu_heading{
  margin: 24px 0 12px 0;
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  list-style-type: none;
}

.mobile_menu_list {
  padding: 0;
}
.mobile_menu_list li {
  list-style-type: none;
  margin: 11px 0 0 0;
  padding: 0 0 0 24px;
}

.mobile_menu_list_link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.mobile_menu_list_link:hover {
  color: #F16D7F;
}