body {
  font-family: Lato;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
}

/* ======= page-header ======= */

.page-header-wrp {
  display: flex;
  background: #222222;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 230px;
}

/* ======= page-header logo ======= */

.page-header-logo {
  margin-right: 41px;
}

.page-header-logo:hover {
  transform: scale(1.2);
}

.page-header-btn-wrp {
  display: flex;
  align-items: baseline;
}

/* ======= page-header search ======= */

.search-icon-form {
  position: relative;
  padding: 0;
  margin: 0;
}

.search-icon-form__svg {
  fill: #E8E8E8;
}

.search-icon-form__svg:hover {
  transform: scale(1.2);
  fill: #F16D7F;
}

.search-icon-form__svg:active {
  fill: #000;
}

.search-icon-form__label {
  display: block;
}

.search-icon-form__input {
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0px;
  left: 30px;
  color: #fff;
  font-size: 16px;
  font-family: Arial;
  text-transform: capitalize;
}

.search-icon-form__input:focus {
  width: 150px;
  min-height: 20px;
  transition: width 1s ease;
  border: 2px solid #fff;
}

/* ======= end page-header search ======= */

/* ======= page-header-menu ======= */

.page-header-menu {
  display: flex;
  align-items: center;
}

.menu-btn {
  margin-right: 33px;
  border: none;
  fill: #E8E8E8;
  background-color: transparent;
  outline: none;
}

.menu-btn:hover {
  transform: scale(1.2);
  fill: #F16D7F;
}

.menu-btn:active {
  fill: #000;
}

.account-btn {
  fill: #E8E8E8;
  border: none;
  background-color: transparent;
  margin-right: 33px;
  outline: none;
}

.account-btn:hover {
  fill: #F16D7F;
}

.account-btn:active {
  fill: #000;
}

.cart-btn {
  background-color: transparent;
  border: none;
  fill: #E8E8E8;
  outline: none;
}

.cart-btn>svg>path:nth-child(2) {
  fill: #F16D7F;
}

.cart-btn>svg>path:nth-child(3) {
  fill: white;
}

.cart-btn:hover {
  transform: scale(1.2);
  fill: #F16D7F;
}

.cart-btn:active {
  fill: #000;
}

/* ======= end page-header-menu ======= */

/* ======= page-header-banner ======= */

.page-header-banner {
  width: 100%;
  min-height: 764px;
  background-image: url(../img/top_pic.png);
  background-color: #F1E4E6;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding-left: 14.375%;
  padding-right: 14.375%;
}

.page-header-banner:hover {
  filter: brightness(50%);
}

.page-header-banner-wrp {
  width: 393px;
  margin: 0 100px 90px 0;
  text-transform: uppercase;
  position: relative;
}

.page-header-banner-wrp:before {
  content: "";
  display: block;
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
  position: absolute;
  top: 0;
  left: -28px;
}

.page-header-banner-title {
  display: block;
  width: 100%;
  font-size: 48px;
  font-weight: 900;
  line-height: 57.6px;
  letter-spacing: 0em;
  color: #222222;
}

.page-header-banner-subtitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: 0em;
}

.page-header-banner-subtitle>span {
  color: #F16D7F;
}

/* ======= end page-header-banner ======= */

/* ======= page-header-catalog ======= */

.page-header-catalog {
  height: 148px;
  background: #F8F3F4;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 230px;
}

.page-header-catalog-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.page-header-catalog-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-header-catalog-list li {
  display: inline;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.page-header-catalog-link {
  text-decoration: none;
  color: #636363;
}

.page-header-catalog-list:last-child {
  color: #F16D7F;
}

.page-header-catalog-list li+li:before {
  color: #636363;
  content: "/\00a0";
}

.page-header-catalog-link:hover {
  color: #01447e;
  text-decoration: underline;
  cursor: pointer;
}

.page-header-catalog-link:active {
  color: #F8F3F4;
  text-decoration: underline;
}

.page-header-catalog-list li:last-child:hover {
  text-decoration: underline;
  cursor: pointer;
}

.page-header-catalog-list li:last-child:active {
  color: #F8F3F4;
  cursor: pointer;
}

/* ======= end page-header-catalog ======= */

/* ======= categories ======= */

.categories {
  display: flex;
  flex-direction: column;
  padding: 65px 230px 0 230px;
}

.categories-wrp {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.categories-item {
  position: relative;
  margin-right: 30px;
  flex-grow: 1;
}

.categories-item:first-child {
  background-image: url(../img/for_women.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
}

.categories-item:nth-child(2) {
  background-image: url(../img/for_men.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
}

.categories-item:last-child {
  background-image: url(../img/for_kids.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
  margin: 0;
}

.categories-item-accesories {
  background-image: url(../img/accesories.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  position: relative;
  flex-grow: 1;
}

.categories-item-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.categories-item-subtitle {
  display: block;
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFF;
}

.categories-item-title {
  display: block;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #F16D7F;
  width: 155px;
}

/* ======= end categories ======= */

/* ======= products ======= */

.products-heading {
  display: block;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  text-transform: capitalize;
  margin-top: 96px;
}

.products-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin-top: 6px;
}

.products {
  padding: 48px 230px 0 230px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products-item {
  padding: 0;
  margin: 0 30px 30px 0;
  background: #F8F8F8;
  position: relative;
  text-decoration: none;
  width: 360px;
}

.products-item-photo {
  display: block;
}

.products-item-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #FFFFFF;
  position: absolute;
  top: 188px;
  left: 111px;
  width: 138px;
  height: 43px;
  background-color: transparent;
  padding: 0 13px;
  margin: 0;
  opacity: 0;
  outline: none;
  transition: opacity .35s ease;
}

.products-item-btn svg {
  fill: #FFFFFF;
}

.products-item-btn:hover {
  border: 1px solid #F16D7F;
}

.products-item-btn:hover svg {
  fill: #F16D7F;
}

.products-item-btn:hover .products-item-btn-txt {
  color: #F16D7F;
}

.products-item-btn:active {
  background: #F16D7F;
}

.products-item-btn:active .products-item-btn-txt {
  color: #FFFFFF;
}

.products-item-btn:active svg {
  fill: #FFFFFF;
}

.products-item-btn-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.products-item:hover .products-item-photo {
  filter: brightness(0.4) grayscale(0.34) contrast(0.7) saturate(1.5);
}

.products-item:hover .products-item-btn {
  opacity: 1;
}

.products-item-title {
  width: 320px;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  margin: 24px 0 0 18px;
}

.products-item-txt {
  width: 320px;
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin: 13px 0 18px 18px;
}

.products-item-price {
  width: 320px;
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin: 0 0 20px 18px;
}

.products-item:nth-child(3n+3) {
  margin-right: 0;
}

.products-btn {
  font-weight: normal;
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  text-align: center;
  background: none;
  width: 211px;
  padding: 14px 0;
}

.products-btn:hover {
  background: #F16D7F;
  color: #FFF;
}

.products-btn:active {
  transform: translateY(5px);
}

/* ======= products-pagination ======= */

.products-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  background: #FFFFFF;
  margin: 18px 0 0 0;
  width: 284px;
  height: 44px;
  padding: 15px;
  box-sizing: border-box;
}

.products-pagination button {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #EBEBEB;
  text-decoration: none;
  padding: 0 2px;
  border: none;
  background-color: transparent;
  outline: none;
  height: 19px;
  width: 22px;
}

.products-pagination button svg {
  fill: black;
  padding: 0;
  margin: 0;
}

.products-pagination button svg:hover {
  fill: #EF5B70;
}

.products-pagination button svg:active {
  fill: white;
}

.products-pagination button.products-active-page {
  color: #EF5B70;
}

.products-pagination button:hover {
  background-color: #ddd;
  color: #EF5B70;
}

.products-pagination button:active {
  color: white;
}

/* ======= end products-pagination ======= */

/* ======= features ======= */

.features {
  display: flex;
  background: #222224;
  margin-top: 95px;
  padding: 104px 230px;
}

.features-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px 0 0;
  width: 360px;
}

.features-item-icon {
  fill: #F16D7F;
}

.features-item-title {
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin: 28px 0 16px 0;
}

.features-item-txt {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  margin: 0;
}

/* ======= end features ======= */

/* ======= subscribe ======= */

.subscribe {
  display: flex;
  background-image: url(../img/photo_subscribe.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 448px;
}

.subscribe-info {
  width: 50%;
}

.subscribe-info-avatar {
  background-image: url(../img/subscribe_avatar.png);
  background-position: top 87px left 328px;
  background-repeat: no-repeat;
  height: 190px;
}

.subscribe-info-txt {
  margin: 10px auto;
  width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe-info-txt span {
  font-style: italic;
}

.subscribing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.subscribing-title {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}

.subscribing-subtitle {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30.1px;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}

.subscribing-form {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.subscribing-form-email {
  display: block;
  background: #E1E1E1;
  width: 256px;
  height: 49px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  color: #222224;
  opacity: 0.67;
  padding: 0 0 0 22px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.subscribing-form-btn {
  display: block;
  background: #F16D7F;
  width: 100px;
  height: 49px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  padding: 0;
  outline: none;
}

.subscribing-form-btn:hover {
  background: black;
}

.subscribing-form-btn:active {
  background: #F16D7F;
  transform: translateY(4px);
}

/* ======= end subscribe ======= */

/* ======= page-footer  ======= */

.page-footer {
  background-color: #222224;
  display: flex;
  justify-content: space-between;
  padding: 0 230px;
}

.page-footer-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  margin: 30px 0;
}

.page-footer-socials {
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

.page-footer-socials-item {
  margin-right: 7px;
  height: 32px;
  width: 32px;
  background-color: #FFFFFF;
}

.page-footer-socials-item svg {
  display: block;
  margin: 8px auto;
  fill: black;
}

.page-footer-socials-item:hover {
  fill: #FFF;
  background-color: #F16D7F;
  transform: scale(1.2);
}

.page-footer-socials-item:active {
  transform: translateY(4px);
}

/* ======= end page-footer  ======= */

/* ======= catalog-menu  ======= */

.catalog-menu {
  padding: 51px 230px 0 230px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: flex-start;
}

/* ======= catalog-menu-filter ======= */

.catalog-menu-filter {
  position: relative;
  width: 360px;
}

.catalog-menu-filter-btn {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  outline: none;
  text-transform: uppercase;
  background-color: transparent;
}

.catalog-menu-filter-btn svg {
  margin: 0 0 0 11px;
  fill: black;
}

.catalog-menu-filter-content {
  display: none;
  position: absolute;
  width: 360px;
  padding: 24px 0 16px 0px;
  margin: 0;
  z-index: 1;
}

.catalog-menu-filter-content-btn {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  text-transform: uppercase;
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  text-align: left;
  padding: 0;
  margin: 0 0 0 33px;
}

.catalog-menu-filter-content-btn:before {
  content: "";
  display: block;
  width: 5px;
  height: 37px;
  background-color: #F16D7F;
  position: absolute;
  top: -8px;
  left: -17px;
}

.catalog-menu-filter-content-btn::after {
  content: "";
  display: block;
  border-top: 1px solid #EBEBEB;
  margin: 11px 15px 0 -11px;
  padding: 0;
  width: 327px;
}

.catalog-menu-filter-content-btn:hover {
  text-decoration: underline;
  color: #000;
}

.catalog-menu-filter-content-btn:active {
  transform: translateY(4px);
}

.catalog-menu-filter-sublist {
  list-style-type: none;
  margin: 24px 0 32px 33px;
  padding: 0;
}

.catalog-menu-filter-last-item {
  margin: 26px 0 0 33px;
}

.catalog-menu-filter-subitem {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: none;
  text-decoration: none;
}

.catalog-menu-filter-sublist li {
  padding-bottom: 11px;
}

.catalog-menu-filter-sublist li:last-child {
  padding-bottom: 0;
}

.catalog-menu-filter-subitem:hover {
  text-decoration: underline;
  color: #F16D7F;
}

.catalog-menu-filter:hover .catalog-menu-filter-content {
  display: block;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.catalog-menu-filter:hover .catalog-menu-filter-btn {
  padding: 0 0 0 16px;
  color: #F16D7F;
}

.catalog-menu-filter:hover .catalog-menu-filter-btn svg {
  fill: #F16D7F;
}

/* ======= end catalog-menu-filter ======= */

/* ======= catalog-menu-list ======= */

.catalog-menu-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 30px;
}

.catalog-menu-list li {
  margin: 0 28px 0 0;
}

.catalog-menu-list li:last-child {
  margin: 0;
}

.catalog-menu-item {
  position: relative;
}

.catalog-menu-btn {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  border: none;
  outline: none;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.catalog-menu-btn svg {
  margin: 0 0 0 10px;
  fill: #6F6E6E;
}

/* ======= catalog-menu-dropdown-content ======= */

.catalog-menu-dropdown-content {
  display: none;
  position: absolute;
  width: 79px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1;
}

.catalog-menu-item:hover .catalog-menu-dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog-menu-item:hover .catalog-menu-btn {
  color: #F16D7F;
}

.catalog-menu-item:hover svg {
  fill: #F16D7F;
}

.catalog-menu-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.catalog-menu-dropdown-txt {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  text-transform: uppercase;
  margin: 10px 0 0 0;
  padding: 0;
}

.catalog-menu-dropdown-txt input[type=checkbox] {
  width: 12px;
  margin: 0 10px;
  padding: 0;
  outline: none;
  border: 1px solid #EBEBEB;
}

.catalog-menu-dropdown-margin {
  margin: 10px 0;
}

/* ======= end catalog-menu-dropdown-content ======= */

/* ======= product-slider ======= */

.product-slider {
  height: 777px;
  background: #F7F7F7;
  padding: 11px 0 42px 0;
  display: flex;
  justify-content: space-between;
}

.product-slider-img {}

.product-slider-btn {
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  border: none;
  outline: none;
  padding: 12.65px 17.3px;
}

.slider-left {
  fill: black;
  align-self: center;
}

.slider-right {
  fill: #F16D7F;
  align-self: center;
}

.product-slider-btn:hover {
  background: black;
  fill: white;
}

.product-slider-btn:active {
  background: transparent;
}

/* ======= end product-slider ======= */

/* ======= product-description ======= */

.product-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  height: 601px;
  box-sizing: border-box;
  margin: -65px 230px 81px 230px;
}

.product-description-heading {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  margin: 64.54px 0 0 0;
}

.product-description-heading:after {
  content: "";
  display: block;
  width: 63px;
  height: 3.03px;
  background-color: #EF5B70;
  margin: 12px auto;
}

.product-description-title {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
}

.product-description-txt {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  width: 555px;
  margin: 48px 294px 32px 292px;
}

.product-description-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.product-description-hr {
  margin: 65px auto;
  display: block;
  border: 1px solid #EAEAEA;
  width: 641px;
}

.product-description-menu {
  margin: 0;
}

.product-description-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #FF6A6A;
  width: 211px;
  height: 47.4px;
  background-color: transparent;
  padding: 0 56px 0 23px;
  margin: 49px 0 0 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  outline: none;
}

.product-description-btn svg {
  fill: #EF5B70;
}

.product-description-btn:hover {
  background: #5E5E5E;
  border: 1px solid #5E5E5E;
  color: white;
}

.product-description-btn:hover svg {
  fill: white;
}

.product-description-btn:active {
  background: #5E5E5E;
  border: 1px solid #5E5E5E;
  color: white;
  transform: translateY(4px);
}

/* ======= end product-description ======= */

/* ======= shopping-cart ======= */

.shopping-carts {
  display: flex;
  margin: 96px 230px 128px 230px;
  background: #FFFFFF;
}

.shopping-cart-wrp {
  display: flex;
  flex-direction: column;
}

.shopping-cart {
  display: flex;
  position: relative;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.shopping-cart-margin {
  margin: 40px 0 0 0;
}

.shopping-card-info {
  margin: 22px 0 0 31px;
  width: 390px;
}

.shopping-card-info span:nth-child(2) {
  margin: 0 0 42px 0;
}

.shopping-card-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-transform: uppercase;
  display: block;
  text-align: left;
}

.shopping-card-txt {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  display: block;
  text-align: left;
  margin: 0 0 6px 0;
}

.shopping-card-input {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  text-align: left;
}

.shopping-card-txt span {
  color: #F16D7F;
}

input[type="number"] {
  width: 43px;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  border: 1px solid #EAEAEA;
  text-align: center;
  box-sizing: border-box;
}

.shopping-cart-close-btn {
  background: transparent;
  border: none;
  outline: none;
  fill: #575757;
  position: absolute;
  top: 28px;
  right: 22px;
}

.shopping-cart-close-btn:hover {
  fill: #F16D7F;
}

.shopping-cart-close-btn:active {
  fill: #FFF;
}

.shopping-cart-btn-wrp {
  display: flex;
  justify-content: space-between;
  margin: 72px 0 0 0;
}

.shopping-cart-btn {
  width: 224px;
  height: 49px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  outline: none;
}

.shopping-cart-btn:hover {
  border: 2px solid #F16D7F;
  color: #F16D7F;
}

.shopping-cart-btn:active {
  background: #F16D7F;
  color: #FFF;
}

.shopping-cart-form-wrp {
  margin: 17px 0 0 128.51px;
}

.shopping-address-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
  text-align: left;
  display: block;
}

.shopping-address-input {
  display: block;
  height: 44px;
  width: 360px;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  text-align: left;
  padding: 0 0 0 17px;
  margin: 21px 0 0 0;
  box-sizing: border-box;
  outline: none;
}

.shopping-address-input::placeholder {
  color: #222222;
}

.shopping-address-country::placeholder {
  color: #B1B1B1;
}

.shopping-address-input:focus {
  border: 2px solid #F16D7F;
}

.shopping-address-btn {
  width: 100.39px;
  height: 34px;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  background: transparent;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  margin: 24px 0 0 0;
  box-sizing: border-box;
}

.shopping-address-btn:hover {
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

.shopping-address-btn:active {
  background: #F16D7F;
  color: #FFF;
}

.shopping-offer {
  margin: 57px 0 0 0;
  padding: 39px 0 42px 0;
  background: #F5F3F3;
  width: 360px;
}

.shopping-offer-sub-total {
  font-size: 11px;
  line-height: 13px;
  font-weight: normal;
  color: #4A4A4A;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  margin: 0 34px 0 0;
}

.shopping-offer-grand-total {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
  margin: 12px 37px 21px 0;
  display: flex;
  justify-content: flex-end;
}

#shopping-offer-sub-sum,
#shopping-offer-grand-sum {
  border: none;
  outline: none;
  background: transparent;
  text-align: center;
  width: 20%;
}

#shopping-offer-sub-sum {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #222222;
}

#shopping-offer-grand-sum {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.shopping-offer-btn {
  display: block;
  width: 273px;
  height: 50px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  background: #F16D7F;
  border: none;
  outline: none;
  margin: 17px auto 0 auto;
  padding: 0;
  position: relative;
}

.shopping-offer-btn::before {
  content: "";
  display: block;
  border-top: 1px solid #E2E2E2;
  width: 273px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: absolute;
  top: -17px;
  left: 0;
}

.shopping-offer-btn:hover {
  color: #F16D7F;
  background: grey;
}

.shopping-offer-btn:active {
  background: transparent;
}

/* ======= end shopping-cart ======= */

/* ======= start registration ======= */

.registration {
  display: flex;
  margin: 64px 230px 96px 230px;
}

.registration-form {}

.registration-form-fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.registration-form-fieldset input:nth-child(2) {
  margin: 0 0 21px 0;
}

.registration-form fieldset:nth-child(2) {
  margin: 31px 0 33px 0;
}

.registration-form-legend {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: capitalize;
  margin: 0 0 20px 0;
  padding: 0;
}

.registration-form-legend span {
  text-transform: none;
}

.registration-form-input {
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  box-sizing: border-box;
  padding: 0 0 0 16.7px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: black;
  outline: none;
}

.registration-form-radio {
  display: none;
}

.registration-form-radio-title {
  position: relative;
  padding: 0 0 0 27px;
  text-transform: capitalize;
}

.registration-form-radio-title::before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: 4px;
}

.registration-form-radio:checked+label::before {
  background: #B1B1B1;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.21);
}

.registration-form-input::placeholder {
  color: #B1B1B1;
}

.registration-form-input:focus {
  border: 2px solid #F16D7F;
}

.registration-form-radio-title {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin: 0 20px 0 0;
}

.registration-form-txt {
  width: 359px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-form-btn {
  width: 167px;
  height: 50px;
  background: #F16D7F;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  outline: none;
  margin: 39px 0 0 0;
  cursor: pointer;
  box-sizing: border-box;
}

.registration-form-btn svg {
  fill: white;
  margin: 0 0 0 20px;
}

.registration-form-btn:hover {
  color: #F16D7F;
  background: #FFFFFF;
  border: 1px solid #F16D7F;
}

.registration-form-btn:hover svg {
  fill: #F16D7F;
}

.registration-form-btn:active {
  background: transparent;
  border: none;
  color: #FFFFFF;
}

.registration-form-btn:active svg {
  fill: #FFFFFF;
}

.registration-info {
  margin: 0 0 0 128px;
}

.registration-info-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-transform: uppercase;
}

.registration-info-txt {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 22px 0;
}

.registration-info-list {
  padding: 0;
  margin: 0;
  list-style-image: url(../img/reg-list.svg);
}

.registration-info-list li {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0 0 16px 25px;
  padding: 0 0 0 22px;
}

.registration-info-list li:last-child {
  margin: 0 0 0 25px;
}

/* ======= end registration ======= */

@media(max-width:768px) {
  .container {
    max-width: 768px;
  }
  .page-header-wrp {
    height: 74px;
    padding: 0 32px;
  }
  .page-header-banner {
    min-height: 367px;
    padding: 0;
  }
  .page-header-banner-wrp {
    width: 295px;
    margin: 0 33px 14px 0;
    text-transform: uppercase;
    position: relative;
  }
  .page-header-banner-title {
    font-size: 44px;
    line-height: 52.8px;
  }
  .page-header-banner-subtitle {
    font-size: 24px;
    line-height: 28.8px;
  }
  .categories {
    padding: 20px 16px 0 16px;
  }
  .categories-wrp {
    margin-bottom: 20px;
  }
  .categories-item {
    margin-right: 20px;
  }
  .categories-item:first-child {
    height: 168px;
  }
  .categories-item:nth-child(2) {
    height: 168px;
  }
  .categories-item:last-child {
    height: 168px;
    margin: 0;
  }
  .categories-item-accesories {
    height: 116px;
  }
  .products {
    padding: 48px 16px 0 16px;
  }
  .products-item {
    margin: 0 0 16px 0;
  }
  .products-item:nth-child(odd) {
    margin-right: 16px;
  }
  .products-btn {
    margin: 16px 0 0 0;
  }
  .features {
    margin-top: 65px;
    padding: 48px 0 16px 0;
    flex-direction: column;
    align-items: center;
  }
  .features-item {
    margin: 0;
    padding: 0 0 48px 0;
  }
  .subscribe {
    flex-direction: column;
    height: 693px;
    background-image: url(../img/photo_subscribe_768.png);
  }
  .subscribe-info {
    width: 100%;
  }
  .subscribing {
    width: 100%;
    margin: 48px 0 0 0;
  }
  .subscribing-title {
    line-height: 162%;
  }
  .subscribing-subtitle {
    line-height: 29.16px;
  }
  .subscribing-form {
    margin-top: 27px;
  }
  .page-footer {
    padding: 0 32px;
  }
  .page-header-catalog {
    padding: 0 16px;
  }
  .catalog-menu {
    padding: 24px 16px 0 16px;
    justify-content: space-between;
  }
  .catalog-menu-list {
    margin: 0;
  }
  .products-item.catalog-page {
    display: none;
  }
  .products-item.product-page {
    display: none;
  }
  .product-slider {
    height: 624px;
    padding: 0;
  }
  .product-slider-img {
    height: 565px;
  }
  .product-description {
    margin: 0;
  }
  .product-description-hr {
    width: 46%;
  }
  .catalog-product a:nth-child(3) {
    display: none;
  }
  .shopping-carts {
    flex-direction: column;
    margin: 59px 16px 128px 16px;
  }
  .shopping-cart-btn-wrp {
    justify-content: space-between;
    margin: 62px 130px 0 130px;
  }
  .shopping-cart-form-wrp {
    display: flex;
    margin: 64px 0 0 0;
  }
  .shopping-offer {
    margin: 39px 0 0 16px;
  }
  .registration {
    display: flex;
    margin: 40px 16px 96px 16px;
  }
  .registration-info {
    margin: 0 0 0 16px;
  }
  .registration-info-title {
    font-size: 16px;
    line-height: 19.2px;
  }
  .registration-info-txt {
    font-size: 16px;
    line-height: 19.2px;
    margin: 32px 0 22px 0;
  }
  .registration-info-list li {
    font-size: 16px;
    line-height: 19.2px;
  }
}

@media(max-width:480px) {
  .container {
    max-width: 480px;
  }
  .page-header-wrp {
    height: 74px;
    padding: 0 16px;
  }
  .menu-btn {
    margin: 0;
  }
  .account-btn {
    display: none;
  }
  .cart-btn {
    display: none;
  }
  .page-header-banner {
    min-height: 363px;
    background-image: none;
    padding: 0;
    justify-content: center;
  }
  .page-header-banner-wrp {
    width: 247px;
    margin: 0;
  }
  .page-header-banner-wrp:before {
    width: 12px;
    height: 61px;
    top: 6px;
  }
  .page-header-banner-title {
    font-size: 38px;
    line-height: 45.6px;
  }
  .page-header-banner-subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  .categories {
    padding: 20px 16px 0 16px;
  }
  .categories-wrp {
    margin: 0;
    flex-direction: column;
  }
  .categories-item {
    margin: 0 0 32px 0;
  }
  .categories-item:first-child {
    height: 248px;
    margin: 0 0 32px 0;
  }
  .categories-item:nth-child(2) {
    height: 248px;
    margin: 0 0 32px 0;
  }
  .categories-item:last-child {
    height: 248px;
    margin: 0 0 32px 0;
  }
  .categories-item-accesories {
    height: 111px;
  }
  .products-heading {
    margin-top: 64px;
  }
  .products {
    padding: 48px 8px 0 8px;
  }
  .products-item {
    margin: 0 0 16px 0;
  }
  .products-item.catalog-page {
    display: none;
  }
  .products-item.product-page {
    display: none;
  }
  .products-item:nth-child(odd) {
    margin-right: 0;
  }
  .products-btn {
    margin: 25px 0 0 0;
  }
  .features {
    margin-top: 65px;
    padding: 48px 0 33px 0;
    flex-direction: column;
    align-items: center;
  }
  .subscribe {
    flex-direction: column;
    height: 550px;
    background-image: url(../img/photo_subscribe_480.png);
  }
  .subscribe-info {
    width: 100%;
  }
  .subscribe-info-avatar {
    background-position: top 87px left 185px;
  }
  .subscribing {
    width: 100%;
    margin: 59px 0 0 0;
  }
  .subscribing-title {
    line-height: 153.2%;
  }
  .subscribing-subtitle {
    font-size: 14px;
    line-height: 21.45px;
  }
  .subscribing-form {
    margin-top: 22px;
  }
  .page-footer {
    flex-direction: column-reverse;
    padding: 0;
  }
  .page-footer-socials {
    display: flex;
    justify-content: center;
    padding: 43px 0 0 0;
  }
  .page-footer-txt {
    margin: 40px auto 9px auto;
  }
  .page-header-catalog {
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .page-header-catalog-title {
    margin: 24px 0 32px 0;
  }
  .page-header-catalog-list {
    margin: 0 0 46px 0;
  }
  .catalog-menu {
    padding: 24px 8px 0 8px;
    justify-content: space-between;
  }
  .catalog-menu-list {
    margin: 0;
  }
  .catalog-menu-filter {
    width: auto;
  }
  .catalog-menu-filter-btn span {
    display: none;
  }
  .catalog-menu-filter-btn svg {
    width: 37.5px;
    height: 25px;
    margin: 0;
  }
  .catalog-menu-list li {
    margin: 0 24px 0 0;
  }
  .catalog-menu-btn {
    font-size: 12px;
    line-height: 14px;
  }
  .product-slider {
    height: 624px;
    padding: 0;
  }
  .product-slider-img {
    height: 454px;
  }
  .product-description {
    margin: 0;
  }
  .product-description-txt {
    line-height: 143.1%;
    width: 326px;
    margin: 31px auto 32px auto;
  }
  .product-description-hr {
    width: 46%;
  }
  .catalog-product a:nth-child(3) {
    display: none;
  }
  .catalog-menu-btn.catalog-product {
    font-size: 10px;
    line-height: 12px;
  }
  .shopping-carts {
    flex-direction: column;
    margin: 39px 8px 96px 8px;
  }
  .shopping-cart-btn-wrp {
    justify-content: space-between;
    margin: 30px 0 0 0;
  }
  .shopping-cart-form-wrp {
    display: flex;
    flex-direction: column;
    margin: 48px 0 0 0;
  }
  .shopping-offer {
    margin: 48px 0 0 0;
    min-width: 360px;
    width: 100%;
  }
  .shopping-address-input {
    min-width: 360px;
    width: 100%;
  }
  .registration {
    display: flex;
    flex-direction: column;
    margin: 40px 8px 96px 8px;
  }
  .registration-info {
    margin: 40px 0 0 0;
  }
  .registration-info-title {
    font-size: 16px;
    line-height: 19.2px;
  }
  .registration-info-txt {
    font-size: 16px;
    line-height: 19.2px;
    margin: 32px 0 22px 0;
  }
  .registration-info-list li {
    font-size: 16px;
    line-height: 19.2px;
  }
  .registration-form-input {
    min-width: 360px;
    width: 100%;
  }
  .registration-form-txt {
    min-width: 360px;
    width: 100%;
  }
}