* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Lato;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    background: #E5E5E5;
}

.header {
    background: #F1E4E6;
}

.menu {
    min-height: 75px;
    background:#222222;
    padding-left: 230px;
    padding-right: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_group {
    display: flex;
    align-items: baseline;
}

.mr_41 {
    margin-right: 41px;
}

.mr_33 {
    margin-right: 33px;
}

.fashion {
    display: flex;
}

.fashion_column{
    flex: 50%;
}


.fashion_text {  
    align-self: center;
    margin-left: 64px;
}

.brand_text {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    color: #222222;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.lux_text {
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
    letter-spacing: 0em;
}
.fash_text {
     color: #F16D7F;
     font-size: 32px;
    font-weight: bold;
    line-height: 38px;
}

.main {
    background: #ffffff;
    padding: 65px 230px 0 230px;
}

.items_parent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.item {
   position: relative;

}

.item_img {
    width: 100%;
}

.item_mr {
    margin-right: 30px;
}

.item_text_top{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFF ;
    
}

.item_text_bottom {
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #F16D7F;
}

